<!DOCTYPE html>
<html>
<head>
<title> Network Analyses Generation </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<STYLE TYPE="text/css">
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
</STYLE>
</head>
<section data-ng-controller="DbNetworkController" data-ng-init="findOne()">
    <div class="page-header">
      <ul style="list-style:none;padding:0px;" >
         <li><h1><B> Class Name: {{ network.className }} </B></h1></li>
         <li style="padding:0px 0px 0px 10px"> <B>Description:</B> {{ network.description }} </li>
         <li style="padding:0px 0px 0px 10px"> <B>Type:</B> {{ network.type }} </li>

         <h3 style="padding:0px 0px 0px 10px">User provided information</h3> 
         <div style="display: inline" class="form-group">
            <b style="padding:0px 0px 0px 10px">Select a name space</b>
            <select ng-model="selectedNameSpace" id="firstSelect"
                data-ng-focus="findNamespaces();"
                data-ng-change="findMetadata(selectedNameSpace.nameSpace);"
                ng-options="item.nameSpace for item in nameSpaces">
            </select>
         <div>
       <p>
       <b style="padding:0px 0px 0px 10px">Metadata analyses available for this name space</b>
       <div>
       <form action="">
          <fieldset>
             <div "padding:0px 0px 0px 10px" ng-repeat="item in metadata">
                <input type ="checkbox" name={{item}} value={{item}}
                ng-true-value=1 ng-false-value=0
                ng-model="checked"
                ng-click="findAlgorithms(item, $index, checked);"> <b>{{item}}</b>
   
                <div ng-show="{{checked}}==1" ng-repeat="algorithm in algorithms[$index]">
                   &nbsp;&nbsp;&nbsp;<input type ="radio"
                   name=algorithms value={{algorithm}}
                   ng-true-value=1 ng-false-value=0
                   ng-model="algo_checked"
                   ng-click="findSimilarityInstances(item, $index, algo_checked, algorithm);"> {{algorithm}}
   
                   <div ng-show="{{algo_checked}}==={{algorithm}}" ng-repeat="instance in simInstances[$index]">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type ="radio"
                      name=sims value={{instance._id}}
                      ng-model="selectedSimId._id">
                      {{instance._id | dateFromObjectId}}
                   </div>
                </div>
            </div>

          <label style="padding:0px 0px 0px 10px" class="control-label">Parameters</label>
          <input type="text" data-ng-model="parameters" ng-trim="false" value=" " id="parameters"> <br/>
       <input type="button" value="Submit" ng-click="execute( selectedNameSpace.nameSpace, parameters);">
       <div ng-show="submitted">
          <li><B> Status: {{ status }} </B></li>
          <li><B> Results: {{ results | dateFromObjectId }} </B></li>
       </div>
      </div>
    <div>
    </div>

       </fieldset>
    </div>
    </form>
</section>
<!-- 
-->
