<!DOCTYPE html>
<html>
<head>
<title> Metadata Generation </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<STYLE TYPE="text/css">
a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
</STYLE>
</head>
<section data-ng-controller="DbMetadataController" data-ng-init="findOne()">
    <div class="page-header">
      <ul style="list-style:none;padding:0px;" >
         <li><h1><B> Class Name: {{ metadata.className }} </B></h1></li>
         <li style="padding:0px 0px 0px 10px"> <B>Description:</B> {{ metadata.description }} </li>
         <li style="padding:0px 0px 0px 10px"> <B>Type:</B> {{ metadata.type }} </li>

         <h3 style="padding:0px 0px 0px 10px">User provided information</h3> 
         <div style="display: inline" class="form-group">
            <b style="padding:0px 0px 0px 10px">Select a name space</b>
            <select ng-model="selectedNameSpace" id="firstSelect"
                data-ng-focus="findNamespaces();"
                data-ng-change="find();"
                ng-options="item.nameSpace for item in nameSpaces">
            </select>
            <b style="padding:0px 0px 0px 10px">or <a href="#!/namespaces/create">Add a name space</a></b>
         <div>

         <div style="display: inline" class="form-group">
            <b style="padding:0px 0px 0px 10px">Select an algorithm</b>
            <select ng-model="selectedAlgorithm" id="firstSelectAlg"
                data-ng-focus="find();"
                ng-options="item.className for item in metadatas">
            </select>
            <b style="padding:0px 0px 0px 10px">or <a href="#!/metadata/create">Add an algorithm</a></b>
         <div>

         <div class="form-group">
            <label style="padding:0px 0px 0px 10px" class="control-label">Input File</label>
            <input type="text" data-ng-model="input" id="input">
         <div>
         <div class="form-group">
            <label style="padding:0px 0px 0px 10px" class="control-label">Parameters</label>
            <input type="text" data-ng-model="parameters" id="parameters" value=" ">
         <div>
    </div>
      <input type="button" value="Submit" ng-click="execute(selectedNameSpace.nameSpace, selectedAlgorithm.className, input, parameters);">
       <div ng-show="submitted">
          <li><B> Status: {{ status }} </B></li>
          <li><B> Results: {{ results }} </B></li>
       </div>
</section>
