<section data-ng-controller="DbSimilarityController">
    <div class="page-header">
        <h1>New Similarity Algorithm</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="className">Class Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="className" id="className" 
                               class="form-control" placeholder="Class Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="type">Select Type</label>
                    <div class="controls">
                        <select ng-model="type" id="type"
                            ng-options="item.name for item in typeOptions">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="engineParams">Engine Parameters</label>
                    <div class="controls">
                        <input type="text" data-ng-model="engineParams" id="engineParams" 
                               class="form-control" placeholder="Engine Parameters" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="description" 
                               class="form-control" placeholder="Description" required>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary" href="/#!/similarity">
            <i class="glyphicon glyphicon-home"></i>
        </a>
    </div>
</section>
