<!DOCTYPE html>
<html>
<head>
<title> Signature Generation </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<STYLE TYPE="text/css">
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
</STYLE>
</head>
<section data-ng-controller="DbSimilarityController" data-ng-init="findOne()">
    <div class="page-header">
      <ul style="list-style:none;padding:0px;" >
         <li><h1><B> Class Name: {{ similarity.className }} </B></h1></li>
         <li style="padding:0px 0px 0px 10px"> <B>Type:</B> {{ similarity.type }} </li>
         <li style="padding:0px 0px 0px 10px"> <B>Description:</B> {{ similarity.description }} </li>

         <h3 style="padding:0px 0px 0px 10px">User provided information</h3> 
         <div class="form-group">
            <label style="padding:0px 0px 0px 10px" class="control-label">Name Space</label>
            <input type="text" data-ng-model="nameSpace" id="nameSpace">
         <div>
         <div class="form-group">
            <label style="padding:0px 0px 0px 10px" class="control-label">Similarity Directory</label>
            <input type="text" data-ng-model="similarityDirectory" id="similarityDirectory" >
         </div>
    </div>
    <div class="wrapper">
       <h3 style="padding:0px 0px 0px 10px" ng-show="showme">Generating Similarity File</h3> 
       <h4 style="padding:0px 0px 0px 10px" ng-show="showme"> {{ outputFile }}</p>
    </div>

    <div class="pull-right">
       <a class="btn btn-primary" href="/#!/similarity">
            <i class="glyphicon glyphicon-home"></i>
        </a>
        <a class="btn btn-primary btn-lg" data-ng-click="outputFile=execute(similarity.className, nameSpace, similarityDirectory);showme=true">
            <i class="glyphicon glyphicon-play-circle"></i>
        </a>
    </div>
</section>
