<!DOCTYPE html>
<html>
<head>
<title> Signature Generation </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<STYLE TYPE="text/css">
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
</STYLE>
</head>
<section data-ng-controller="DbSignaturesController" data-ng-init="findOne()">
    <div class="page-header">
      <ul style="list-style:none;padding:0px;" >
         <li><h1><B> Class Name: {{ signature.className }} </B></h1></li>
         <li style="padding:0px 0px 0px 10px"> <B>Description:</B> {{ signature.description }} </li>
         <li style="padding:0px 0px 0px 10px"> <B>Type:</B> {{ signature.type }} </li>

         <h3 style="padding:0px 0px 0px 10px">User provided information</h3> 

         <div style="display: inline" class="form-group">
            <b style="padding:0px 0px 0px 10px">Select a source name space</b>
            <select ng-model="sourceNameSpace" id="sourceNameSpaceId"
                data-ng-focus="findNamespaces();"
                ng-options="sourceItem.nameSpace for sourceItem in nameSpaces">
            </select>
         </div><p>

         <div style="display: inline" class="form-group">
            <b style="padding:0px 0px 0px 10px">Select a target name space</b>
            <select ng-model="targetNameSpace" id="targetNameSpaceId"
                data-ng-focus="findNamespaces();"
                ng-options="targetItem.nameSpace for targetItem in nameSpaces">
            </select>
         </div>

         <div class="form-group">
            <label style="padding:0px 0px 0px 10px" class="control-label">Parameters</label>
            <input type="text" data-ng-model="parameters" id="parameters">
         <div>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary btn-lg" data-ng-click="outputFile=execute(signature.className, sourceNameSpace, targetNameSpace, parameters);">
            <i class="glyphicon glyphicon-play-circle"></i>
        </a>
    </div>
    <div ng-show="submitted">
        <li><B> Status: {{ status }} </B></li>
        <li><B> Results: {{ results }} </B></li>
    </div>
</section>
