<!DOCTYPE html>
<html>
<head>
<title> Actions </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<STYLE TYPE="text/css">
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
</STYLE>
</head>
<section data-ng-controller="DbMessagesController" data-ng-init="findOne()">
    <div class="page-header">
      <ul style="list-style:none;padding:0px;" >
         <li><h1><B> {{ message.message }} </B></h1></li>
         <li style="padding:0px 0px 0px 10px"><h3><B>Description:</B></h3> {{ message.description }} </li>
         <h3 style="padding:0px 0px 0px 10px">System provided headers</h3>
         <li style="padding:0px 0px 0px 10px"> <B>Type:</B> {{ message.type }} </li>
         <li style="padding:0px 0px 0px 10px"> <B>Sub Type:</B> {{ message.subType }} </li>
         <h3 style="padding:0px 0px 0px 10px">User provided headers</h3>
         <div class="form-group" data-ng-repeat="header in message.headers track by $index">
            <label style="padding:0px 0px 0px 10px" class="control-label"> {{ header }} </label>
            <input type="text" data-ng-model="values[$index]" >
         </div>
    </div>

    <div class="pull-right">
        <a class="btn btn-primary btn-lg" data-ng-click="execute();">
            <i class="glyphicon glyphicon-play-circle"></i>
        </a>
    </div>
</section>
