<!DOCTYPE html>
<html>
<head>
<title> Actions </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<STYLE TYPE="text/css"> 
<!-- 
.indented 
{ 
   padding-left: 20pt; 
   padding-right: 20pt; 
} 
--> 
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
</STYLE>
</head>
<body>

<section data-ng-controller="DbMessagesController" data-ng-init="find()">
    <h1> Current messages</h1>
    <div>
      <ul style="list-style:none;padding:0px;" data-ng-repeat="message in messages | orderBy : 'message'">
         <li> <a data-ng-href="#!/messages/{{message._id}}"<B> {{ message.message }} </B></a></li>
         <li style="padding:0px 0px 0px 10px"> <B>Type:</B> {{ message.type }} </li>
         <li style="padding:0px 0px 0px 10px"> <B>Sub Type:</B> {{ message.subType }} </li>
         <li style="padding:0px 0px 0px 10px"> <B>Description:</B> {{ message.description }} </li>
         <li style="padding:0px 0px 0px 10px" data-ng-repeat="header in message.headers track by $index">
              <B>Required Header:</B> {{ header }} 
         </li>
         <hr>
      </ul>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary" href="/#!/messages/{{message._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
</section>
</body>
</html>
